body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1;
  background-color: beige;
  color: black;
}

.cust-header {
  background-color: rgba(146, 98, 98, 0.23);
  color: rgb(69, 66, 66);
  text-align: left;
  align-items: left;
}
header a {
  color: rgb(69, 66, 66);
}

header-btn {
  color: rgb(69, 66, 66);
  }

.tech-blog-card {
  width: auto;
}

nav {
  display: inline-flexbox;
  float: left;
  width: fit-content;
  font-size: 1rem;
}

.blog-list {
  border: .1rem solid black;
}

textarea {
  background: transparent;
  resize: both;
  width: 100%;
}

.invisible {
  visibility: hidden;
}

.blog-title {
  font-size: 1rem;
}

.jumbotron-custom {
  text-align: left;
  background-color: lightgrey;
  color: black;
  border-radius: 0; 
  padding: 3px;
  margin-bottom: 1px;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}