body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1;
}

.navbar {
  background-color: blue;
  color: aliceblue;
}

textarea {
  background: transparent;
}

.blog-title {
  font-size: 1rem;
}

.jumbotron-custom {
  text-align: center;
  background-color: lightgrey;
  color: black;
  border-radius: 0; 
  padding: 3px;
  margin-bottom: 1px;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}